<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Airline_Reservation_System2</display-name>
  <servlet>
    <description></description>
    <display-name>Adduser</display-name>
    <servlet-name>Adduser</servlet-name>
    <servlet-class>com.Reservation.Servelets.Adduser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adduser</servlet-name>
    <url-pattern>/Adduser</url-pattern>
  </servlet-mapping>
  <display-name>Airline_Reservation_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdduserFromAdmin</display-name>
    <servlet-name>AdduserFromAdmin</servlet-name>
    <servlet-class>com.Reservation.Servelets.AdduserFromAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdduserFromAdmin</servlet-name>
    <url-pattern>/AdduserFromAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.Reservation.Servelets.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckExists</display-name>
    <servlet-name>CheckExists</servlet-name>
    <servlet-class>com.Reservation.Servelets.CheckExists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckExists</servlet-name>
    <url-pattern>/CheckExists</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>com.Reservation.Servelets.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyingCode</display-name>
    <servlet-name>VerifyingCode</servlet-name>
    <servlet-class>com.Reservation.Servelets.VerifyingCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyingCode</servlet-name>
    <url-pattern>/VerifyingCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify</display-name>
    <servlet-name>Verify</servlet-name>
    <servlet-class>com.Reservation.Servelets.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeVerifying</display-name>
    <servlet-name>CodeVerifying</servlet-name>
    <servlet-class>com.Reservation.Servelets.CodeVerifying</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeVerifying</servlet-name>
    <url-pattern>/CodeVerifying</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteuser</display-name>
    <servlet-name>Deleteuser</servlet-name>
    <servlet-class>com.Reservation.Servelets.Deleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteuser</servlet-name>
    <url-pattern>/Deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckExistsAdmin</display-name>
    <servlet-name>CheckExistsAdmin</servlet-name>
    <servlet-class>com.Reservation.Servelets.CheckExistsAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckExistsAdmin</servlet-name>
    <url-pattern>/CheckExistsAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.Reservation.Servelets.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addbooking</display-name>
    <servlet-name>Addbooking</servlet-name>
    <servlet-class>com.Reservation.Servelets.Addbooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addbooking</servlet-name>
    <url-pattern>/Addbooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletebooking</display-name>
    <servlet-name>Deletebooking</servlet-name>
    <servlet-class>com.Reservation.Servelets.Deletebooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletebooking</servlet-name>
    <url-pattern>/Deletebooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBooking</display-name>
    <servlet-name>UpdateBooking</servlet-name>
    <servlet-class>com.Reservation.Servelets.UpdateBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBooking</servlet-name>
    <url-pattern>/UpdateBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddbookingFromAdmin</display-name>
    <servlet-name>AddbookingFromAdmin</servlet-name>
    <servlet-class>com.Reservation.Servelets.AddbookingFromAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddbookingFromAdmin</servlet-name>
    <url-pattern>/AddbookingFromAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addpayment</display-name>
    <servlet-name>Addpayment</servlet-name>
    <servlet-class>com.Reservation.Servelets.Addpayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addpayment</servlet-name>
    <url-pattern>/Addpayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePayment</display-name>
    <servlet-name>DeletePayment</servlet-name>
    <servlet-class>com.Reservation.Servelets.DeletePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePayment</servlet-name>
    <url-pattern>/DeletePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddConfirmBooking</display-name>
    <servlet-name>AddConfirmBooking</servlet-name>
    <servlet-class>com.Reservation.Servelets.AddConfirmBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConfirmBooking</servlet-name>
    <url-pattern>/AddConfirmBooking</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>benjiealcontin23@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>wcphszvpsyguovjj</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.Reservation.Servelets.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePayment</display-name>
    <servlet-name>UpdatePayment</servlet-name>
    <servlet-class>com.Reservation.Servelets.UpdatePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePayment</servlet-name>
    <url-pattern>/UpdatePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletPayment</display-name>
    <servlet-name>DeletPayment</servlet-name>
    <servlet-class>com.Reservation.Servelets.DeletPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletPayment</servlet-name>
    <url-pattern>/DeletPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateConfirmBooking</display-name>
    <servlet-name>UpdateConfirmBooking</servlet-name>
    <servlet-class>com.Reservation.Servelets.UpdateConfirmBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConfirmBooking</servlet-name>
    <url-pattern>/UpdateConfirmBooking</url-pattern>
  </servlet-mapping>
</web-app>